<form

[formGroup]="enrollForm"

(ngSubmit)="onSubmit()">

<input

type="text"

placeholder="Student Name"

formControlName="studentName">

<br><br>

<input

type="email"

placeholder="Student Email"

formControlName="studentEmail">

<br>

<span

*ngIf="enrollForm.get('studentEmail')?.errors?.['emailTaken']">

Email already exists

</span>

<br>

<input

type="text"

placeholder="Course ID"

formControlName="courseId">

<br>

<span

*ngIf="enrollForm.get('courseId')?.errors?.['noCourseCode']">

Course code starting with XX is not allowed.

</span>

<br><br>

<select

formControlName="preferredSemester">

<option>

Odd

</option>

<option>

Even

</option>

</select>

<br><br>

<label>

<input

type="checkbox"

formControlName="agreeToTerms">

Agree To Terms

</label>

<br><br>

<div

formArrayName="additionalCourses">

<div

*ngFor="let ctrl of additionalCourses.controls;let i=index">

<input

[formControl]="ctrl">

<button

type="button"

(click)="removeCourse(i)">

Remove

</button>

</div>

</div>

<br>

<button

type="button"

(click)="addCourse()">

Add Another Course

</button>

<br><br>

<button

type="submit"

[disabled]="enrollForm.invalid">

Submit

</button>

</form>
